BOT_TOKEN=your_telegram_bot_token8618195649:AAEbv2tmes2bjMLHLgdYahhSGcVd7s4mREE
DATABASE_URL=sqlite:///orion.db
OPENWEATHER_API_KEY=your_openweathermap_api_key
SUPERADMIN_ID=1070889762
MAIN_CHAT_ID=your_main_chat_id
